<h1>Cars Index page</h1>
<ul><% @cars.each do |car| %>
  <li>
    <%= link_to car.brand, car_path(car) %>
    <%= car.model %>
    <%= car.year %>
    <%= car.fuel %>
    Owner: <%= car.owner.nickname %>
    <%= link_to "Add Review", new_car_review_path(car) %>
    <hr>
  </li>
<% end %>
</ul>
